html,
body,
#flexColumn100 {
    height: 100%;
}

body {
    background-color: burlywood;
    font-family: Verdana, sans-serif;
    margin: 0;
}

#flexColumn100 {
    display: flex;
    flex-direction: column;
}

#flex1 {
    flex: 1;
    margin: 0 0.5em;
}

.hidden {
    display: none;
}

#title,
#subtitle {
    margin: 0;
}

#title img {
    height: 1cap;
    margin-right: 0.2em;
}

#subtitle {
    font-size: 90%;
}

a {
    color: inherit;
}

#log {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    width: fit-content;
}

#log span {
    display: block;
    font-size: x-small;
    font-style: italic;
    margin-bottom: 1em;
}

#location {
    font-size: small;
    margin-left: 1ch;
}

#log.error {
    display: block;
    width: fit-content;
    background: pink;
    border: 2px solid red;
    padding: 1em;
}

input[type="text"] {
    width: 6ch;
}

input[type="text"],
select {
    margin: 0 0.5ch;
}

input#option-task-name {
    width: 25ch;
}

input:invalid,
input:user-invalid {
    background-color: pink;
}

#options {
    width: fit-content;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 1em;
    padding-bottom: 2em;
    margin-top: 1em;
}

#options > * {
    display: flex;
    align-items: baseline;
}

#options span {
    font-size: x-small;
    margin-left: 0.75ch;
}

#option-task-name-block span {
    margin-left: 0.5ch;
}

#option-language-block label {
    margin-left: 1.5ch;
}

#options > :nth-last-child(2) {
    float: left;
}

#option-language-block,
#options-reset {
    float: right;
}

.image-group {
    display: flex;
    gap: 1rem;
}

.image-title {
    margin-bottom: 0.3em;
}

.image-display {
    border: 1px solid black;
    background-color: white;
}

.image-upload-block:hover,
.image-display-block:hover {
    color: red;
}

.image-display:hover {
    border-color: red;
}

.image-download-link {
    text-decoration: none;
}

.image-name {
    width: 100%;
    font-family: monospace;
    font-size: small;
}

.image-description {
    font-size: small;
}

#footer,
#footer table {
    width: 100%;
}

#footer {
    border-top: 2px solid black;
    margin-top: 1em;
    padding-bottom: 0.15em;
}

#footer td:last-child {
    text-align: right;
}

.py-error {
    color: black !important;
    background: pink !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}
