body {
    background-color: burlywood;
    font-family: Verdana, sans-serif;
}

html,
body,
#all {
    height: 100%;
}

.hidden {
    display: none;
}

h1 {
    margin-top: 0;
}

#versions span {
    font-size: x-small;
}

.image-title {
    margin-bottom: 0.3ex;
}

.image-display {
    max-width: 500px;
    max-height: 200px;
    border: 1px solid black;
    background-color: white;
}

.image-upload-block:hover,
.image-download-block:hover {
    color: red;
}

.image-display:hover {
    border-color: red;
}

.image-download-link {
    color: inherit;
    text-decoration: none;
}

.upload-input,
.image-name {
    width: 100%;
    font-family: monospace;
    font-size: small;
}

.image-description {
    font-size: small;
}
