body {
    background-color: burlywood;
    font-family: Verdana, sans-serif;
}

html,
body,
#all {
    height: 100%;
}

.hidden {
    display: none;
}

h1 {
    margin-top: 0;
}

a {
    color: inherit;
}

#log span {
    display: block;
    font-size: x-small;
    font-style: italic;
}

#log.error {
    display: block;
    width: fit-content;
    background: pink;
    border: 2px solid red;
    padding: 1rem;
}

input[type="text"]:invalid,
input[type="text"]:user-invalid
{
    background-color: pink;
}

#options {
    width: fit-content;
    margin-bottom: 3rem;
}

#options > * {
    display: flex;
    align-items: baseline;
}

#options span {
    font-size: x-small;
}

#options > :nth-last-child(2) {
    float: left;
}

#options-reset {
    float: right;
}

.image-title {
    margin-bottom: 0.3ex;
}

.image-display {
    border: 1px solid black;
    background-color: white;
}

.image-upload-block:hover,
.image-download-block:hover {
    color: red;
}

.image-display:hover {
    border-color: red;
}

.image-download-link {
    text-decoration: none;
}

.upload-input,
.image-name {
    width: 100%;
    font-family: monospace;
    font-size: small;
}

.image-description {
    font-size: small;
}

.py-error {
    display: none;
    color: black !important;
    background: pink !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}
